@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li class="active">
                    <a href="index.html">
                        <i data-feather="home"></i> <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "BaseData")">
                        <i data-feather="package"></i> <span>BaseData</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i data-feather="package"></i> <span>Icons</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i data-feather="package"></i> <span>Address</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i data-feather="package"></i> <span>Users</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i data-feather="file-text"></i> <span>Products</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i data-feather="grid"></i> <span>Salons</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i data-feather="map"></i> <span>Customers</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i data-feather="bar-chart"></i> <span>Orders</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i data-feather="calendar"></i> <span>Finance</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i data-feather="bell"></i> <span>notifications</span>
                    </a>
                </li>
</nav>
    </div>
</div>
<!-- END LEFT SIDEBAR -->